// firebase.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Solo usuarios autenticados pueden leer/escribir
    match /{document=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      // borrar y actualizar solo para admins (campo custom claim "role":"admin")
      allow update, delete: if request.auth.token.role == 'admin';
    }
  }
}